ErrorDocument 404 /postulacion/web/template/error404.php
ErrorDocument 403 /postulacion/web/template/error403.php

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ /postulacion/web/template/error404.php [L]

RewriteCond %{REQUEST_URI} ^/403/$
RewriteRule ^(.*)$ /postulacion/web/template/error403.php [L]
